
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  align-content: center;
margin-left: auto;
margin-right: auto;
}


.score {
  font-family: 'Merienda One', cursive;
  color: #ffffff;
  text-align: center;
}


.title2 {
  color: #ffffff;
  font-family: 'Merienda One', cursive;
}

.title {
  color: #ffffff;
  font-family: 'Merienda One', cursive;
}

.title3 {
  color: #ffffff;
  font-family: 'Merienda One', cursive;
}