
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  align-content: center;
margin-left: auto;
margin-right: auto;
}


.score {
  font-family: 'Merienda One', cursive;
  color: purple;
  text-align: center;
}